Repository finando/infrastructure-modules: changes, and which lint-staged commands are due for each by the changed paths.
All: terraform fmt, npm run lint:eslint:staged:fix

.lintstagedrc.json:

{
  "*.tf": "terraform fmt",
  "*.json": "npm run lint:eslint:staged:fix"
}

feat(cognito): add output
  packages/cognito/outputs.tf
Due: terraform fmt

fix(cognito): change verification email subject
  packages/cognito/main.tf
Due: terraform fmt

feat(cognito)!: change input variables
  packages/cognito/main.tf
  packages/cognito/variables.tf
Due: terraform fmt

feat(dynamodb)!: change input variables
  packages/dynamodb/main.tf
  packages/dynamodb/variables.tf
Due: terraform fmt

feat(ecr)!: change input variables
  packages/ecr/main.tf
  packages/ecr/variables.tf
Due: terraform fmt

feat(ecr): add outputs
  packages/ecr/main.tf
  packages/ecr/outputs.tf
Due: terraform fmt

feat(route-53)!: change input variables
  packages/route-53/main.tf
  packages/route-53/variables.tf
Due: terraform fmt

feat(route-53): add TXT DNS record for GitHub Pages
  packages/route-53/main.tf
  packages/route-53/variables.tf
Due: terraform fmt

feat(secrets-manager)!: change input variables
  packages/secrets-manager/main.tf
  packages/secrets-manager/outputs.tf
  packages/secrets-manager/variables.tf
Due: terraform fmt

feat(ses)!: change input variables
  packages/ses/main.tf
  packages/ses/variables.tf
Due: terraform fmt

chore(static-website): delete unnecessary module
  package-lock.json
  packages/static-website/CHANGELOG.md
  packages/static-website/main.tf
  packages/static-website/outputs.tf
  packages/static-website/package.json
  packages/static-website/variables.tf
Due: terraform fmt, npm run lint:eslint:staged:fix

feat(vpc): add VPC module
  package-lock.json
  packages/vpc/main.tf
  packages/vpc/outputs.tf
  packages/vpc/package.json
  packages/vpc/variables.tf
Due: terraform fmt, npm run lint:eslint:staged:fix

feat(ssm): add SSM module
  package-lock.json
  packages/ssm/main.tf
  packages/ssm/outputs.tf
  packages/ssm/package.json
  packages/ssm/variables.tf
Due: terraform fmt, npm run lint:eslint:staged:fix

feat(s3): add S3 module
  package-lock.json
  packages/s3/main.tf
  packages/s3/outputs.tf
  packages/s3/package.json
  packages/s3/variables.tf
Due: terraform fmt, npm run lint:eslint:staged:fix

feat(ecs): add ECS module
  package-lock.json
  packages/ecs/main.tf
  packages/ecs/outputs.tf
  packages/ecs/package.json
  packages/ecs/variables.tf
Due: terraform fmt, npm run lint:eslint:staged:fix

feat(cloudfront): add Cloudfront module
  package-lock.json
  packages/cloudfront/functions/rewrite-request-url.js
  packages/cloudfront/main.tf
  packages/cloudfront/outputs.tf
  packages/cloudfront/package.json
  packages/cloudfront/variables.tf
Due: terraform fmt, npm run lint:eslint:staged:fix

feat(api-gateway): add API Gateway module
  package-lock.json
  packages/api-gateway/main.tf
  packages/api-gateway/outputs.tf
  packages/api-gateway/package.json
  packages/api-gateway/variables.tf
Due: terraform fmt, npm run lint:eslint:staged:fix

chore(project): fix vulnerabilities
  package-lock.json
Due: npm run lint:eslint:staged:fix

fix(project): lint errors
  .commitlintrc.json
  packages/cognito/package.json
  packages/dynamodb/package.json
  packages/ecr/package.json
  packages/route-53/package.json
  packages/secrets-manager/package.json
  packages/ses/package.json
Due: npm run lint:eslint:staged:fix

fix(project): update nx cache
  .nx/cache/file-map.json
  .nx/cache/lockfile.hash
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
Due: npm run lint:eslint:staged:fix

fix(project): disable nx cache
  .gitignore
  .nx/cache/file-map.json
  .nx/cache/lockfile.hash
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
  nx.json
Due: npm run lint:eslint:staged:fix

fix(s3): set proper version
  package-lock.json
  packages/s3/package.json
Due: npm run lint:eslint:staged:fix

build(project): set GPG key trust level
  .github/workflows/release.yaml
Due: none

build(project): downgrade version number of crazy-max/ghaction-import-gpg
  .github/workflows/release.yaml
Due: none

build(project): avoid signing tags
  .github/workflows/release.yaml
Due: none

chore(release): release [skip ci]
  package-lock.json
  packages/api-gateway/CHANGELOG.md
  packages/api-gateway/package.json
  packages/cloudfront/CHANGELOG.md
  packages/cloudfront/package.json
  packages/cognito/CHANGELOG.md
  packages/cognito/package.json
  packages/dynamodb/CHANGELOG.md
  packages/dynamodb/package.json
  packages/ecr/CHANGELOG.md
  packages/ecr/package.json
  packages/ecs/CHANGELOG.md
  packages/ecs/package.json
  packages/route-53/CHANGELOG.md
  packages/route-53/package.json
  packages/s3/CHANGELOG.md
  packages/s3/package.json
  packages/secrets-manager/CHANGELOG.md
  packages/secrets-manager/package.json
  packages/ses/CHANGELOG.md
  packages/ses/package.json
  packages/ssm/CHANGELOG.md
  packages/ssm/package.json
  packages/vpc/CHANGELOG.md
  packages/vpc/package.json
Due: npm run lint:eslint:staged:fix

feat(route-53)!: change inputs
  packages/route-53/main.tf
  packages/route-53/variables.tf
Due: terraform fmt

chore(release): release [skip ci]
  package-lock.json
  packages/route-53/CHANGELOG.md
  packages/route-53/package.json
Due: npm run lint:eslint:staged:fix

fix(route-53): remove unused variables
  packages/route-53/variables.tf
Due: terraform fmt

fix(route-53): remove sensitive flag
  packages/route-53/variables.tf
Due: terraform fmt

feat(ssm)!: change input variables
  packages/ssm/main.tf
  packages/ssm/outputs.tf
  packages/ssm/variables.tf
Due: terraform fmt

chore(release): release [skip ci]
  package-lock.json
  packages/ssm/CHANGELOG.md
  packages/ssm/package.json
Due: npm run lint:eslint:staged:fix

fix(ssm): add SSM parameter name to output
  packages/ssm/outputs.tf
Due: terraform fmt

fix(ses): use S3 bucket module
  packages/ses/main.tf
Due: terraform fmt

chore(release): release [skip ci]
  package-lock.json
  packages/ses/CHANGELOG.md
  packages/ses/package.json
Due: npm run lint:eslint:staged:fix

fix(s3): attach policy to S3 bucket
  packages/ses/main.tf
Due: terraform fmt
