Repository finando/infrastructure-modules: changes, and which lint-staged commands are due for each by the changed paths.
All: terraform fmt, npm run lint:eslint:staged:fix

.lintstagedrc.json:

{
  "*.tf": "terraform fmt",
  "*.json": "npm run lint:eslint:staged:fix"
}

fix(cognito): use correct hosting zone
  packages/cognito/main.tf
  packages/ses/main.tf
Due: terraform fmt

chore(release): release [skip ci]
  package-lock.json
  packages/cognito/CHANGELOG.md
  packages/cognito/package.json
  packages/ses/CHANGELOG.md
  packages/ses/package.json
Due: npm run lint:eslint:staged:fix

fix(cloudfront): use namespace in OAC name
  packages/cloudfront/main.tf
Due: terraform fmt

chore(release): release [skip ci]
  package-lock.json
  packages/cloudfront/CHANGELOG.md
  packages/cloudfront/package.json
Due: npm run lint:eslint:staged:fix

fix(ses): change email-forwarder-lambda implementation
  packages/ses/email-forwarder-lambda/package-lock.json
  packages/ses/email-forwarder-lambda/package.json
  packages/ses/email-forwarder-lambda/src/services/ses/index.ts
  packages/ses/email-forwarder-lambda/src/types/domain.d.ts
Due: npm run lint:eslint:staged:fix

fix(ssm): do not ignore value changes
  packages/ssm/main.tf
Due: terraform fmt

chore(release): release [skip ci]
  package-lock.json
  packages/ses/CHANGELOG.md
  packages/ses/package.json
  packages/ssm/CHANGELOG.md
  packages/ssm/package.json
Due: npm run lint:eslint:staged:fix

fix(ses): join lines properly in email-forwarder-lambda
  packages/ses/email-forwarder-lambda/src/services/ses/index.ts
Due: none

chore(release): release [skip ci]
  package-lock.json
  packages/ses/CHANGELOG.md
  packages/ses/package.json
Due: npm run lint:eslint:staged:fix
